<!-- <p *ngFor="let client of clients">{{client.ragioneSociale}}</p>
<p *ngFor="let client of clients">{{client.partitaIva}}</p>
<p *ngFor="let client of clients">{{client.tipoCliente}}</p> -->

<mat-form-field appearance="standard">
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
</mat-form-field>

<div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>

        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
            <td mat-cell *matCellDef="let client"> {{client.id}} </td>
        </ng-container>

        <ng-container matColumnDef="nomeContatto">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
            <td mat-cell *matCellDef="let client"> {{client.nomeContatto}} </td>
        </ng-container>

        <ng-container matColumnDef="cognomeContatto">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Surname </th>
            <td mat-cell *matCellDef="let client"> {{client.cognomeContatto}} </td>
        </ng-container>

        <ng-container matColumnDef="partitaIva">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> P. Iva </th>
            <td mat-cell *matCellDef="let client"> {{client.partitaIva}} </td>
        </ng-container>

        <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
            <td mat-cell *matCellDef="let client"> {{client.email}} </td>
        </ng-container>

        <ng-container matColumnDef="removeClient">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> </th>
            <td mat-cell>
                <button mat-button *matCellDef="let client" (click)="removeClient(client.id)">
                    <mat-icon>delete</mat-icon>
                </button>
            </td>
        </ng-container>

        <ng-container matColumnDef="viewInvoices">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> </th>
            <td mat-cell *matCellDef="let client">
                <a mat-button (click)="set_acual_id(client.id)" href="#" [routerLink]="['/tax_invoice_list']"
                    routerLinkActive="router-link-active"> Invoices</a>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
        </tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
</div>