<form #f="ngForm" [formGroup]="clientForm" (ngSubmit)="onSubmit()">
  <mat-expansion-panel class="mt-5 mb-5" (opened)="panelOpenState = true" (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title id="form-title">Form aggiungi fattura</mat-panel-title>
    </mat-expansion-panel-header>
    <div class="container_input_field">

      <div formGroupName="cliente">

        <mat-form-field appearance="fill">
          <mat-label>ID Cliente</mat-label>
          <input matInput type="number" formControlName="id" readonly="true">
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Intestatario</mat-label>
          <input matInput type="text" formControlName="nome">
        </mat-form-field>

      </div>

      <mat-form-field appearance="fill">
        <mat-label>Natura Bene/Servizio</mat-label>
        <input matInput type="text" formControlName="natura">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Quantita</mat-label>
        <input matInput type="number" formControlName="quantita">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Numero Fattura</mat-label>
        <input matInput type="number" formControlName="numero">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Data Emissione</mat-label>
        <input matInput type="date" formControlName="data">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Scadenza Pagamento</mat-label>
        <input matInput type="date" formControlName="scadenza">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Importo</mat-label>
        <input matInput type="number" formControlName="importo">
      </mat-form-field>

      <button mat-button type="submit">Aggiungi</button>

    </div>

  </mat-expansion-panel>
</form>