
<div class="position-relative overflow-hidden text-center img_background d-flex justify-content-center align-items-center">
  <div class="col-md-5 p-lg-5 mx-auto my-5 middle_gradient d-flex justify-content-center align-items-center">
    <h1 class="display-4 fw-normal">LOGO</h1>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col">
      Column
    </div>
    <div class="col">
      <div class="business_man_img">

      </div>
    </div>
    <div class="col">
      Column
    </div>
  </div>
</div>

